---
Language: Cpp
BasedOnStyle: Microsoft
IndentAccessModifiers: false
IndentCaseLabels: true
IndentCaseBlocks: false
IndentGotoLabels: false
IndentPPDirectives: None
IndentExternBlock: NoIndent
IndentRequires: false
UseTab: Always
IndentWidth: 4
TabWidth: 4
SortIncludes: Never
AlignEscapedNewlines: DontAlign
ColumnLimit: 80
Cpp11BracedListStyle: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: false
  AfterCaseLabel: true
  AfterClass: false
  AfterStruct: false
  BeforeElse: true
  BeforeWhile: false
  AfterExternBlock: false
  SplitEmptyFunction: true
  SplitEmptyNamespace: true
  AfterControlStatement: Always
AlignArrayOfStructures: None
---
